

/*	admin_mymanage.css
 *
 *	Author: @alexandreaco
 *	Date: 4/22/2014
 * 
 */
 

.photo p {
	display:inline;
	padding: 0 5px;
}


.module h2 {
	display:inline-block;
	margin-top:20px;
}

.link_lookalike {
	background: none;
	border:none;
	color: red;
	font-size: 15px;
	cursor: pointer;
}


.module table {
	background-color: #DDDDDD;
	padding: 15px;
	margin: 10px 0;
}

.active_users table .email, 
.valid_users table .email,
.mail_server table .email,
.recent_activity table .email {
	min-width: 250px;
}

.active_users table .last, 
.valid_users table .status,
.mail_server table .purpose,
.recent_activity table .action {
	min-width: 200px;
}

.active_users table .reset, 
.valid_users table .send,
.mail_server table .send,
recent_activity table .date {
	min-width: 150px;
}

.active_users table .x, 
.valid_users table .x, 
.mail_server table .x {
	min-width: 50px;
}

.valid_users #valid_email {
	width: 250px;
}

.general_info table .label {
	width: 150px;
}

.courses label {
	display: inline-block;
	width: 175px;
}

.courses input[type='text']
{
	width: 650px;
}

.courses input[type='text'].description {
	width: 100%;
	height: 5em;
}

.courses .course {
	margin-bottom: 20px;
}

/****** My Manage ****************/

button.MM_redbtn{
	/* 
background-color: red;
	color: white;
	width: 200px;
	height: 50px;
	border-radius:15px;
*/
	
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	line-height: 1.75em;
 	background: #cc2026;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 5px 15px 7px 15px;
	font-weight: 300;
	font-size: 1.25em;
	border: 1px solid #EEEEEE;
	margin: 5px 10px 5px 0;
	cursor: pointer;
	
}

button.MM_greybtn{
	/* 
background-color: grey;
	color: white;
	width: 200px;
	height: 50px;
	border-radius:15px;
	
	
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 18px;
 */
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	line-height: 1.75em;
 	background: #CCCCCC;
	border: none;
	border-radius: 5px;
	color: #464646;
	padding: 5px 15px 7px 15px;
	font-weight: 300;
	font-size: 1.25em;
	border: 1px solid #EEEEEE;
	margin: 5px 0;
	cursor: pointer;
}


/****** Supplemental Style *******/


.clear {
	clear: both;
	width: 100%;
}

.inline {
	display:inline;
}

.inline_padding {
	display:inline;
	padding: 0 10px;
}

.module table.no_background {
	background: none;
}

.right {
	float:right;
}

.label {
	font-weight: 500;
}



.my_account form label {
	font-size: 16px;
	font-weight: bold;
	display: inline;
}

#input {
	display: none;
}

.hidden {
	display: none;
}


form label {
	display: inline;
}

.my_account p.hidden_input {
	display: inline-block;
	margin: 10px;
}