
/*	layout.css
 *
 *	Author: @alexandreaco
 *	Date: 4/10/2014
 * 
 */
 
#container {
	width: 945px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

#header {
	background: url('../images/Header.jpg');
	width: 945px;
	height: 124px;
}

.content {
	background: url('../images/Body.jpg');
	min-height:800px;
	
	/* 	
	added CSS
	EDIT: removed height: 945px;
	*/
	

	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	padding: 10px 50px;
	
	/*
	end of added
	*/
}

.login {
	background: url('../images/Login.jpg');
	width: 500px;
	height: 190px;
	padding: 70px 0 0 50px;
	display: block;
	psition:relative; 
	top:59px; 
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	font-family:Tahoma; 
	font-size: 13px;
	z-index: 1;

}


#reg {
	background: url('../images/Register.jpg');
	width: 650px;
	height: 350px;
	padding: 70px 0 0 50px;
	display: block;
	position:relative; 
	top:59px; 
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	font-size: 17px; 
}

#confirmationEmail {
position: absolute;
width: 600px;
height: 41px;
text-align: center;
font-size: 16px;
margin: auto;
right: 0;
left: 0;
top: 180px;
line-height: 41px;
}

#error {
background: url('../images/error.png');
position: absolute;
width: 300px;
height: 41px;
text-align: center;
font-size: 16px;
margin: auto;
right: 0;
left: 0;
line-height: 41px;
}

#forgot {
	background: url('../images/Changepassword.jpg');
	width: 500px;
	height: 150px;
	padding: 110px 0 0 50px;
	display: block;
	position: relative;
	top:100px;
	margin: 0 auto;
	font-size: 17px; 
}


#forgotError {
background: url('../images/error.png');
position: absolute;
width: 300px;
height: 41px;
text-align: center;
font-size: 14px;
margin: auto;
right: 0;
left: 0;
line-height: 41px;
}

.mysite {
	background: url('../images/webBody.jpg');
}

#footer {
	background: url('../images/Footer.jpg');
	width: 945px;
	height: 100px;
}

.title {
	margin-top:0;
	padding: 5px 10px;
}


/*
ADDED CSS
*/

label.reg {
	position:absolute;
	float: left;
	text-align: left;
	padding: 4px;
	padding-right: 200px;
	margin-right: 15px;
	width: 25px;
}

form label { 
	display: block;   block float the labels to left column, set a width 
	float: left; 
	width: 150px; 
	padding: 0;
	margin: 5px 0 0;  set top margin same as form input - textarea etc. elements 
	font-family:Tahoma; 
	font-size: 11px; 
	text-align:left;
}
/*
END OF ADDED
*/
