
/*	login.css
 *
 *	Author: @alexandreaco
 *	Date: 4/22/2014
 * 
 */
 


.login, 
#forgot,
#reg {
	width: 500px;
	display: block;
	margin: 0 auto;
	border: 3px solid #464646;
	padding-bottom: 25px;
}

.login h2,
#forgot h2,
#reg h2 {
	background: #464646;
	margin-top: 0px;
	color: #FFFFFF;
	padding: 0 30px;
	line-height: 2em;
}

.login form,
#forgot form,
#reg form {
	padding: 0 30px;
	color: #464646;
}

.login label,
#forgot label,
#reg label {
	display: inline-block;
	width: 32%;
	font-size: 16px;
	line-height: 3em;
}

.login input[type="text"], .login input[type="password"],
#forgot input[type="text"], #forgot input[type="password"],
#reg input[type="text"], #reg input[type="password"] {
	width: 66%;
}	

.login input[type="submit"],
#forgot input[type="submit"],
#reg input[type="submit"] {
	background: #cc2026;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 5px 15px 7px 15px;
	font-weight: 300;
	font-size: 1.25em;
	border: 1px solid #EEEEEE;
	margin: 5px 0;
	float: right;
	cursor: pointer;
}

.login a,
#forgot a,
#reg a {
	margin-left: 30px;
	color: #464646;
	text-decoration: none;
}


#forgot form,
#reg form {
	margin-bottom: 50px;
}

#forgot input[type="submit"] {
	margin-top: 50px;
}
