

/*	style.css
 *
 *	Author: @alexandreaco
 *	Date: 4/10/2014
 * 
 */
 
 body {
 
 	background-color: #EEEEEE;
 	font-size: 0.9em;
 	
 }
 
 /***** Typography *******/

h1, h2, h3, h4, h5, h6, p, a, table, form, div {

	font-family: 'Helvetica Neue', 'Verdana', sans-serif;
	font-weight: 300;
	
}

a, a:hover, a:active, a:visited {

	color: red;
	
}

.title {
	text-align:left;
	color: #FFFFFF;
	font-weight:300;
}

#login_btn {
	position: absolute;
	background: #434542;
	right: 40px;
	top: 10px;
	padding: 2px 5px;
	font-size: 0.9em;
}

#login_btn a {
	color: #FFFFFF;
}

